{
  "parser": "vue-eslint-parser",
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "vue/no-multiple-template-root": "off",
    "vue/valid-template-root": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/no-dupe-v-else-if": "off"
  }
}